
.mainheader{
    .navbar-brand{
        max-width: 120px;
        
            img{
                width: 100%;
            }
        
    }

    .navbar-nav{
        .nav-item{
            .nav-link{
                text-transform: uppercase;
                color: $color-white;
            }
        &.active, &:hover,&:focus{
            .nav-link{
                color: $color-primary;
                border-bottom: 2px solid $color-primary;
            }
            
        } 
            
        }
    }
    } 

