#showcase{

    .carousel{
        &-item{
            height: 400px;
            >img{
                height: 100%;
                object-fit: cover;
            }
        }
        &-caption{
            top:20% !important;
        }
         p{
            text-shadow: 7px 5px 6px rgb(0, 0,0.8);
        }
    }


}