.card-columns{
    
       .card{
        .card-header{
            height: 400px;
            width: 355px;
            .img-fluid{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
       }
   
}